body {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ad5389, #3c1053); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans';
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App main {
  width: 300px;
}

.App main p {
  font-size: 26px;
  text-align: center;
  color: white;
}

.App main .panel {
  background-color: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.App main .panel .choice {
  border-bottom: solid 1px gainsboro;
  padding: 20px;
}

.App main .panel .choice:last-child {
  border-bottom: 0;
}

button {
  color: white;
  display: block;
  padding: 30px 0;
  width: 100%;
  font-size: 18px;
  background: transparent;
  text-align: center;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button:disabled {
  opacity: 0.2;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ad5389;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}